/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	
}
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"]{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
/*-------Header------*/
.header {
	border-bottom: 1px solid rgba(131, 131, 131, 0.21);
	background-color: #FFF9F4;
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	min-height: 100px;
}
.header__logo {
color: #000;
font-family: 'Merriweather', sans-serif;
font-size: 30px;
font-style: italic;
font-weight: 700;
position: relative;
z-index: 5;
}
.menu {
	flex: 1 1 auto;
}
.menu__body {}
.menu__list {
	display: flex;
	justify-content: center;
	column-gap: 36px;
	row-gap: 8px;
	flex-wrap: wrap;
}
.menu__item {}
.menu__link {
font-family: 'Merriweather', sans-serif;
font-size: 20px;
color: #000;
position: relative;
}
@media (any-hover: hover) {
	.menu__item:hover .menu__link {
		text-decoration-line: underline;
	}
}

.menu__item--active .menu__link{
font-weight: 700;
text-decoration-line: underline;
}
.menu__item--parent .menu__link{
	display: flex;
	align-items: center;
	gap: 4px;
}
.menu__item--parent{
	position: relative;
}
.menu__item--parent .menu__link::after{
	content: '';
	flex: 0 0 16px;
	background: url('../img/header/image1.png') 0 0 no-repeat;
	height: 8px;
	width: 16px;
	transition-duration: 0.3s;
}
.sub-menu {
	position: absolute;
	left: 0;
	top: 100%;
	padding-top: 5px;
	opacity: 0;
	visibility: hidden;
	transform: translate(0px, 10%);
	transition-duration: 0.3s;
}
.sub-menu__list {
	border: 2px solid #111;
	width: 150px;
	padding: 15px;
	border-radius: 15px;
	background-color: rgb(236, 236, 236);
}
.sub-menu__link {
font-family: 'Merriweather', sans-serif;
font-size: 16px;
color: #000;
}
.sub-menu__item:not(:last-child){
	margin-bottom: 10px;
}

.button{
border-radius: 5px;
background: #0E333D;
color: #FFF;
font-family: 'Merriweather',sans-serif;
font-size: 20px;
font-weight: 700;
padding: 12px 26px;
transition-duration: 0.3s;
z-index: 5;
}
.button--small{
	display: none;
}
@media (any-hover: hover) {
	.menu__item:hover .menu__link {
		text-decoration-line: underline;
	}

	.menu__item--parent:hover .sub-menu{
		opacity: 1;
		visibility: visible;
		transform: translate(0);
	}
	.menu__item--parent:hover .menu__link::after{
		transform: rotate(-180deg);
	}
	.sub-menu__item:hover .sub-menu__link {
		text-decoration-line: underline;
	}

	.button:hover{
		background: #2ab6dd;
		color: #FFF;
	}
}

.icon-menu {
	display: none;
}
@media (max-width: 960px) {
	.header__container{
		min-height: 70px;
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		top: 0;
		left: -100%;
		padding: 70px 15px 30px 15px;
		transition: left 0.3s;
		background-color: rgb(201, 201, 201);
	}
	.menu__body::before{
		content: '';
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: -100%;
		z-index: 2;
		transition: left 0.3s;
		background-color: rgb(177, 177, 177);
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before {
		left: 0;
	}
	.menu__list{
		flex-direction: column;
		text-align: right;
		row-gap: 28px;
		padding-top: 10px;
	}
	.menu__link {
		font-size: 28px;
	}
	.menu__item--parent .menu__link {
		display: block;
	}
	.menu__item--parent .menu__link::after {
		display: none;
	}
	.sub-menu {
		position: relative;
		visibility: visible;
		opacity: 1;
		padding-top: 10px;
		transform: translate(0px, 0px);
	}
	.sub-menu__list {
		width: 100%;
		border-radius: 0;
	}
	.sub-menu__item:not(:last-child) {
		margin-bottom: 20px;
	}
	.sub-menu__link {
		font-size: 24px;
	}
	.icon-menu {
		width: 30px;
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
	}
	.icon-menu::before,
	.icon-menu::after,
	.icon-menu span {
		content: "";
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		transition: all 0.3s;
		background-color: #000;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .icon-menu span {
		transform: scale(0);
	}
	.menu-open .icon-menu::before {
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .icon-menu::after {
		transform: rotate(45deg);
		bottom: 50%;
		margin-bottom: -1px;
	}
}

@media (max-width: 450px){
	.header .button{
		display: none;
	}
	.button--small{
		display: block;
		width: 30px;
		height: 30px;
		z-index: 5;
	}
	.button--small img{
		max-width: 100%;
	}
	.header__logo{
		font-size: 20px;
	}

}
/*-------Main------*/
.page{

}
/*============================================*/
.hero {
	background: #FFF9F4;
}
.hero__container {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	padding: 100px 0;
}
.hero__content {
	flex: 0 1 577px;
}
.hero__title {
color: #0E333D;
font-family: 'DM Serif Text',sans-serif;
font-size: 78px;
line-height: 1.27;
margin-bottom: 32px;
}
.hero__text {
color: #727272;
font-family: 'Inter',sans-serif;
font-size: 22px;
line-height: 1.48;
margin-bottom: 48px;
}
.hero__nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 47px;
	row-gap: 15px;
}
.hero .button {
font-family: 'DM Serif Text',sans-serif;
font-size: 28px;
font-weight: 400;
}
.button-transparent {
color: #0E333D;
font-family: 'DM Serif Text',sans-serif;
font-size: 28px;
text-decoration-line: underline;
background: none;
transition-duration: 0.9s;
}
.hero__images {
	flex: 0 1 524px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
.hero__img {
	flex: 0 1 245px;
}
.hero__img:nth-child(odd){
	padding-top: 69px;
}
.hero__img:nth-child(even){
	padding-bottom: 69px;
}
.hero__img img{
	aspect-ratio: 245 / 467;
   object-fit: cover;
   width: 100%;
   height: 100%;
}

@media (max-width: 1140px){
	.hero__title{
		font-size: 68px;
	}
}
@media (max-width: 900px){
	.hero__container{
		flex-wrap: wrap;
		padding: 50px 0;
	}
	.hero__container > *{
		flex: 1 1 auto;
	}
	.hero__nav{
		justify-content: space-evenly;
	}
	.hero__images{
		justify-content: center;
		gap: 50px;
		padding: 0 10px;
	}
	.hero__content{
		padding: 0 10px;
	}
	.hero__content > *{
		text-align: center;
	}
}
@media (max-width: 580px){
	.hero__title{
		font-size: 52px;
	}
	.hero__text{
		font-size: 20px;
	}
	.hero__images{
		gap: 20px;
	}
	.hero__img:nth-child(odd){
		padding: 0px;
	}
	.hero__img:nth-child(even){
		padding: 0px;
	}
}
@media (max-width: 450px){
	.hero__title{
		font-size: 38px;
	}
	.hero__text{
		font-size: 16px;
	}
	.hero__images{
		gap: 15px;
	}
	.hero .button{
		font-size: 20px;
		padding: 9px 15px;
	}
	.button-transparent{
		font-size: 20px;
	}
	.hero__container{
		padding: 20px 0;
	}
}
@media (any-hover: hover){
	.button-transparent:hover{
		color: #000;
	}
}
/*============================================*/
.collection{
	background: #502203;
	position: relative;
	padding: 100px 0;
}
.collection__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 15px;
}
.collection__body{
	padding-top: 57px;
	flex-basis: 29.75%;
}
.collection__body > *:not(:last-child) {
	margin-bottom: 9px;
}
.collection__title {
color: #FFF;
font-family: 'Cormorant Infant',sans-serif;
font-size: 78px;
font-weight: 700;
line-height: 129%;
}
.collection__button {
padding: 15px 25px;
border-radius: 4px;
border: 1px solid #FFF;
color: #FFF;
font-family: 'Cormorant Infant',sans-serif;
font-size: 24px;
font-weight: 600;
position: relative;
}
.collection__button::before {
	border-radius: 4px;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 12px;
	left: -8px;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.06);
}
.collection__image {
	flex-basis: 36.75%;
	flex-shrink: 0;
	border-radius: 215px;
	border: 1px solid #fff;
	padding: 20px;
}
.collection__image img{
	width: 100%;
	border-radius: 215px;
}
.collection__content {
	align-self: stretch;
	flex-basis: 32.2%;
	padding-top: 76px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 25px;
}
.collection__text {
color: #FFF;
font-family: 'Cormorant Infant',sans-serif;
font-size: 22px;
font-weight: 700;
line-height: 148%;
max-width: 312px;
}
.collection__item {
margin-bottom: 183px;
align-self: flex-end;

color: #FFF;
font-family: 'Cormorant Infant',sans-serif;
font-size: 32px;
font-weight: 600;
line-height: 120%;
padding-left: 10px;
position: relative;
}
.collection__item::before{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	background-color: #fff;
	transform: translate(0px, -50%);
	height: 78.947368%;
}
@media (max-width: 980px){
	.collection__container{
		flex-wrap: wrap;
		row-gap: 60px;
		padding: 0 30px;
	}
	.collection__body{
		flex-basis: 100%;
		text-align: center;
	}
	.collection__image{
		flex-basis: 50%;
	}
	.collection__content{
		flex-basis: auto;
	}
	.collection__body > *:not(:last-child) {
	margin-bottom: 25px;
	}
	.collection__body{
		padding-top: 0;
	}
}
@media (max-width: 730px){
	.collection__image{
		flex-basis: 70%;
	}
	.collection__content{
		flex-basis: 100%;
	}
	.collection__container{
		justify-content: center;
	}
	.collection__content{
		padding: 0;
	}
	.collection__item{
		margin-bottom: 0;
	}
	.collection__title{
		font-size: 62px;
	}
}
@media (max-width: 560px){
	.collection__title{
		font-size: 48px;
	}
	.collection{
		padding: 50px 0;
	}
}
@media (max-width: 460px){
	.collection__title{
		font-size: 42px;
	}
	.collection__text{
		font-size: 18px;
	}
	.collection__item{
		font-size: 26px;
	}
	.collection__image{
		padding: 10px;
		flex-basis: 90%;
	}
}
@media (max-width: 400px){
	.collection__title{
		font-size: 32px;
	}
	.collection{
		padding: 30px 0;
	}
}

@media (any-hover: hover) {
	.collection__button:hover::before {
		top: 0;
		left: 0;
	}
}
/*====================================*/
.collection__design-left {
	position: absolute;
	top: 100%;
	left: 44px;
	margin-top: -210px;
	
	
}
.collection__design-left::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -6px;
	border-radius: 195px 195px 0px 0px;
	border: 1px solid #FFF;
	z-index: 0;
}
.collection__design-left img{
	position: relative;
	max-width: 100%;
	z-index: 5;
}
.collection__vector-left {
	position: absolute;
	top: -80px;
	left: 0;
}
.collection__design-right {
	position: absolute;
	top: 50%;
	left: 100%;
	margin-left:-150px;
	z-index: 5;

border-radius: 215px;
border: 1px solid #FFF;
padding: 17px 12px;
width: 261.508px;
height: 370.977px;
}
.collection__design-right img{
	max-width: 100%;
}
.collection__vector-right {
	position: absolute;
	top: 150px;
	right: 0;
	z-index: 0;
}

@media (max-width: 1560px){
	.collection__design-right,
	.collection__design-left{
		display: none;
	}
}
@media (max-width: 730px){
	.collection__vector-right,
	.collection__vector-left{
		display: none;
	}
}
/*-------Footer------*/
.footer {

}
