/*------------------------ШРИФТИ----------------------*/
@import url("fonts.css");
/*-----------------------Скидання стилів--------------------------*/
@import url("reset.css");
/*-----------------------Основні стилі----------------------------*/

/*------------------block-1-----------------------*/
.block-1 {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}
.titles {
	margin-top: 150px;
}
.small-title {
	max-width: 200px;
	margin: 0 auto;
}
.titles .sqare {
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 6px solid #40DDB6;
}
.titles .subtitle {
	display: inline-block;
	color: #37393F;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}
.titles .big-title {
text-align: center;
font-size: 60px;
margin-top: 25px;
line-height: 1.21;
}

/*--------------------------------------------*/
.block-1 .title {
color: #37393F;
font-family: "Poppins", sans-serif;
font-weight: 700;
line-height: 1.21;
}
/*--------------------------------------------*/
.information{
	margin-top: 70px;
}
/*---------*/
.information .paragraph-1 {}
.paragraph-1 .title {
	font-size: 40px;
}
.paragraph-1 .text{
}
.paragraph-1 .text,
.information .text {
color: #7D7D7D;
font-family: "Inter", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.46;
}
/*---------*/
.information .paragraph-2 {
	margin-top: 32px;
}
.paragraph-2 .title {
	font-size: 30px;
	line-height: normal;
}
.paragraph-2 .title span{
	color: #40ddb6fd;
	font-weight: 400;
}
/*---------*/
.information .paragraph-3 {
	margin-top: 100px;
}
.paragraph-3 .title {
	font-size: 40px;
}
.information .text {
	margin-top: 10px;
}
/*---------*/
.information .paragraph-4 {
	margin-top: 24px;
}
.paragraph-4 .title {
	font-size: 30px;
	line-height: normal;
}
.paragraph-4 .title span{
	font-weight: 400;
	color: #40DDB6;
}
.paragraph-4 .text-blue {
	color: #40DDB6;
}
/*---------*/
.information .paragraph-5 {
	margin-top: 24px;
}
.paragraph-5 .title {
	font-size: 30px;
	line-height: normal;
}
.paragraph-5 .title span{
	font-weight: 400;
	color: #40DDB6;
}
.paragraph-5 .text-blue {
	color: #40DDB6;
}
/*---------*/
.information .paragraph-6 {
	margin-top: 150px;
	margin-bottom: 150px;
}
.paragraph-6 .title {
	font-size: 40px;
	margin-bottom: 10px;
}
.paragraph-6 .text span{
	color: #40DDB6;
	font-weight: 500;
}
/*-----------------Block-2------------------*/
.block-2 {
	max-width: 850px;
	padding: 0 15px;
	margin: 0 auto;
	box-shadow: 0px 0px 15px 5px rgb(129, 129, 129) inset;
}
.block-2 .title {
color: #37393F;
font-family: "Poppins", sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 1.27;

margin-bottom: 13px;
}
.block-2 .texts {
color: #7D7D7D;
font-family: "Inter", sans-serif;
font-size: 18px;
font-style: normal;
line-height: 1.46;
}
.block-2 .text {
	font-weight: 400;
	margin-bottom: 35px;
}
.block-2 li {
	font-weight: 500;
	margin-bottom: 35px;
}
.block-2 .list p{
	display: inline-block;
}
.block-2 .point {
	display: inline-block;
	height: 5px;
	width: 5px;
	border: 3px solid #7D7D7D;
	border-radius: 50%;
	margin-bottom:3px;
}
/*----------------------block-3--------------------*/
.block-3 {
	max-width: 1300px;
	padding: 0 30px;
	margin: 0 auto;
}
.block-3 .line {
	display: inline-block;
	width: 6px;
	height: 28px;
	border: 3px solid #8A33FD;
	border-radius: 10px;
	vertical-align: top;
	margin-right: 5px;
}
.block-3 .conteiner {
	display: inline-block;
	max-width: 1220px;
	font-family: "Causten", sans-serif;
}
.block-3 .title {
	color: #3C4242;
font-size: 28px;
font-weight: 600;
line-height: 1.2;
letter-spacing: 0.56px;
margin-bottom: 30px;
}
.block-3 .subtitle {
color: #807D7E;
font-size: 20px;
font-weight: 600;
line-height: 1.7;
letter-spacing: 0.4px;
margin: 25px 0;
}
.block-3 .text p{
color: #807D7E;
font-size: 20px;
font-weight: 400;
line-height: 1.7; 
letter-spacing: 0.4px;
margin-bottom: 20px;
}
.block-3 .text span{
	font-weight: 700;
}
/*-------------------block-4---------------------------*/
.block-4 {
	box-shadow: 5px 5px 10px 10px #9e9fa3;
	max-width: 1165px;
	padding: 0 15px;
	margin: 0 auto;
}
.block-4 .content {
	display: inline-block;
	max-width: 503px;
	font-family: "Cormorant Infant", sans-serif;
	padding-top: 70px;
	margin-right: 75px;
}
.block-4 .subtitle {
color: #D58417;
font-size: 20px;
font-weight: 700;
line-height: 1;
margin-bottom: 27px;
}
.block-4 .title {
color: #000;
font-size: 64px;
font-weight: 700;
line-height: 1;
margin-bottom: 30px;
}
.block-4 .text {
color: #606060;
font-size: 30px;
font-weight: 700;
line-height: 1.4;
}
.block-4 .image {
	display: inline-block;
	vertical-align: top;
}
.block-4 .small-img {
	display: inline-block;
	border-radius: 235px;
	border: 1px solid #502203;
	vertical-align: middle;
	margin-right: 30px;
}
.block-4 .small-img img{
	margin: 14px 10px -14px -10px ;
}
.block-4 .big-img {
	display: inline-block;
	border-radius: 235px;
	border: 1px solid #502203;
	vertical-align: middle;
}
.block-4 .big-img img{
	margin: 19px 11px -19px -11px;
}
.block-4 img{
	max-width: 100%;
}
/*---------------------------------*/
.block-5 {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	margin-top: 100px;
}
.block-5 div{
	width: 300px;
	height: 100px;
	display: inline-block;
	margin: 15px 30px;
}
.button-1 {
border: 3px solid rgb(138, 138, 138);
}
.button-2 {
	border: 5px dotted #503e3e;
	border-radius: 20px;
}
.button-3 {
	border: 5px dashed #37393F;
	border-radius: 20px;
	box-shadow: 0 0 10px 1px #37393F;
}
.button-4 {
	border-left: 5px solid rgb(255, 0, 0);
	border-bottom: 3px solid rgb(30, 255, 0);
	border-top: 7px solid rgb(0, 26, 255);
	border-radius: 50px;
}
.button-5 {
	outline: 3px solid #000;
	border: 4px solid rgb(255, 0, 0);
	border-radius: 30px 70% 0 10px;
}
.button-6 {
	border: 2px solid #000000;
	border-radius: 50%;
	box-shadow: 0 0 30px 20px #37393F inset;
}
.button-7 {
	border: 4px solid rgb(255, 251, 0);
	border-radius: 53% 47% 27% 73% / 71% 26% 74% 29%;
	box-shadow: 10px 10px 20px 20px #40DDB6;
}
.button-8 {
	border-top: 5px dotted #40DDB6;
	border-right: 1px solid #000;
	border-bottom: 1px dashed #000;
	border-left: 10px dashed #8A33FD;
	border-radius: 30px;
	opacity: 0.5;
}
.button-9{
	border-left: 10px solid rgb(255, 0, 0);
	border-bottom: 13px solid rgb(30, 255, 0);
	border-top: 7px solid rgb(0, 26, 255);
	border-radius:0 100% 0 0;
	visibility: hidden;
}